<launch>
    <arg name="node_start_delay" default="0"></arg>
    <node pkg="fcgf_ros" type="fcgf_simple.py" name="fcgf" output="screen"  launch-prefix="bash -c 'sleep $(arg node_start_delay); export OMP_NUM_THREADS=12; $0 $@'">
        <param name="/fitness_thr" type="double" value="0.1"/>
    </node>

	<node pkg="topic_tools" type="throttle" name="pointcloud_throttler" args="messages /mynteye/points/downsampled_xyz 1.0 /points_throttle" />

    <!-- <node pkg="ply_publisher" type="ply_publisher" name="ply_publisher" output="screen">
         <param name="file_path" value="$(find ply_publisher)/cfg/ballast_tank.ply" />
         <param name="topic" value="/ballast_tank_ply" />
         <param name="frame" value="/map" />
         <param name="rate" value="1.0" />
    </node> -->
    
    <param name="use_sim_time" value="false"/>
</launch>