<launch>
	
 	<node pkg="ply_publisher" type="ply_publisher" name="ply_publisher" output="screen" launch-prefix="">
 		 <param name="file_path" value="$(find ply_publisher)/cfg/ballast_tank.ply" />
 		 <param name="topic" value="/ballast_tank_ply" />
 		 <param name="frame" value="/map" />
 		 <param name="rate" value="1.0" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="ground_truth_map_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 /world /tank 50" />
    
</launch>